.skills__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 370px 770px);
    gap: 30px;
    margin: 150px 0 70px;
}

@media screen and (max-width: 960px) {
    .skills__wrapper {
        grid-template-columns: 320px 1fr;
    }
}