.lead__description {
    font-weight: 400;
    font-size: 22px;
    line-height: 145.51%;
    margin: 0 47px 40px 0;
    padding: 0;
}

.lead__description:nth-child(3) {
    margin: 0;
}

@media screen and(max-width: 768px) {
    .lead__description {
        font-size: 20px;
    }
}