.skills__text-more {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 960px) {
    .skills__text-more{
        max-width: 250px;
    }
}