.skills__span-accent {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .skills__span-accent {
        font-size: 24px;
    }
}