.escort__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    max-width: 770px;
    gap: 30px;
    padding: 0;
    margin: 98px 0 70px;


}

@media screen and (max-width: 960px) {
    .escort__cards {
        max-width: 100%;
    }
}