.services__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    gap: 98px 30px;
    margin: 98px 0 50px;
}

@media screen and (max-width: 960px) {
    .services__cards {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
}


@media screen and (max-width: 768px) {
    .services__cards {
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        row-gap: 70px;
    }
}