.small-business-btn {
    align-self: center;
    background: linear-gradient(90deg, #E59C28 0.01%, #F9C432 12.34%, #FCDA61 34.4%, #FFF8A0 61.85%, #F9F099 64.95%, #E7D986 69.83%, #CAB467 75.89%, #A3823D 82.81%, #774A0E 89.51%, #7A4C0F 91.85%, #855411 93.8%, #966115 95.61%, #AE731B 97.33%, #CD8A22 98.98%, #E59C28 100.01%);
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.07em;
    cursor: pointer;
    padding: 15px 36px;
    transition: .3s all ease-in;
    min-width: 235px;
    color: #000;
}

.small-business-btn:hover {
    box-shadow: 0 0 12px #F9C432;
}

@media screen and (max-width:400px) {
    .small-business-btn {
        font-size: 18px;
        line-height: 25px;
        width: 80vw;
        padding: 15px 30px;
    }
}
